{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-left">
        <div class="jumbotron">
            <h1>Edit Feed</h1><br>
            <form method="POST">
                {% csrf_token %}
                {{ error }}

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" value="{{ upost.title }}" id="title">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name="content" class="form-control" id="content">{{ upost.content }}</textarea>
                </div>
                <button class="btn btn-success" type="submit">Save</button>
                <button type="button" class="btn btn-danger" onclick="$('#delete').click()">Delete</button>
            </form>&nbsp;
            <form style='display: none;' method="POST" action="{% url 'deletefeed' upost.id %}">
                {% csrf_token %}
                <button id="delete" class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
